* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: ntatabularnumbers, nta, sans-serif;
  background: #444;
  margin: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75rem;
}

.username {
  color: rgba(0,0,0,0.8);
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.review {
  font-size:1rem;
  line-height: 1.2;
}

.review::first-letter {
  text-transform: capitalize;
}

.card-header {
  display: flex;
}

.card-label {
  display: inline-block;
  vertical-align: middle;

}

.status-holder {
  width: 200px;
  font-size: 1.1rem;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.55));
  line-height: 1.1;
}

.title-holder{
    min-width: 300px;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    left: -60px;
}

.title a{
    font-size: 32px;
}

.status-holder span {
  display: block;
}

.status {
  padding: 0.5rem 0.75rem;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.base-sync {
  padding: 0.15rem 0.45rem;
}

.success {
  background-color: green;
}

.failure, .error {
  background-color: #BF1E2D;
}

.not-mergeable {
  background-color: black;
}

.pending {
  background-color: orange;
}

.approved {
  background-color: green;
  border-radius: 0px 0px 4px 4px;
}

.pending-approval {
  background-color: orange;
  border-radius: 0px 0px 4px 4px;
}

.changes-requested {
  background-color: red;
  border-radius: 0px 0px 4px 4px;
}

#pulls {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

#pulls li {
  background: #9FA098;
  padding: 10px 10px 0px 10px;
  border-radius: 3px;
  min-width: 300px;
  box-shadow: 0 4px 0 rgba(0,0,0,0.2);
  margin: 1rem;
  flex: 0 0 calc(25% - 2rem);
  background-color: rgb(245, 235, 193)!important;
}

#pulls li.failed {
  background: #e90f05;
}

#pulls li.age-fresh.under-review {
  background: #0C56E8;
}

#pulls li.age-aging.under-review {
  background: #370CE8;
}

#pulls li.age-old.under-review {
  background: #7E0DFF;
}

#pulls li.age-aging {
  background: #f4ab38;
}

#pulls li.age-old {
  background: #f48812;
}

#pulls li.unimportant-user.unimportant-repo {
  display: none;
}

#pulls li.ready {
  background: #a1b94d;
}

#pulls li h2 {
  margin: 0;
}

#pulls a {
  color: #444;
  text-decoration: none;
}

#all-quiet {
  color: #b7b7b7;
  font-size: 3em;
  margin: 1em;
}

.elapsed-time {
  line-height: 110%;
  font-size: 1.25em;
  white-space: nowrap;
}

@media (min-width: 580px) {

  .base-sync {
  }

  .base-sync-ok {
    background-color: green;
  }

  .base-sync-rebase {
    background-color: red;
  }

  .label {
    padding: 3px 6px;
    background: black;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    border-bottom: 2px solid;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5rem 0 0;
  }

  .comments {
    padding-left: 5px;
  }

  .elapsed-time {
    font-size: 24px;
    font-weight: 100;
    color: #666;
    margin-top: -5px;
  }

  h2 {
  }

  p {
    line-height: 1.1;
    font-size: 1rem;
    margin: 1.5rem 0;
    display: block;
    font-weight: 100;
  }

  p a {
    display: block;
  }

  p.repo {
    font-size: 1.25rem;
    margin: 1rem 0 -1rem 0;
    font-weight: bold

  }
}
